<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <form action="/" method="post" enctype="multipart/form-data">
        <div class="m-3 ">
            <label for="" class="form-label"> STT: </label>
            <input type="number" name="stt" placeholder="STT" class="form-control">
        </div>
        <div class="m-3">
            <label for="" class="form-label">Ten bai bao: </label>
            <input type="text" name="tenBaiBao" placeholder="Ten bai bao" class="form-control" size="300px">
        </div>
        <div class="m-3">
            <label for="" class="form-label">Ten nhom tac gia: </label>
            <input type="text" name="tenTacGia" placeholder="Ten nhom tac gia" class="form-control">
        </div>
        <div class="m-3">
            <label for="" class="form-label">Chi so ISBN: </label>
            <input type="text" name="isbn" placeholder="Chi so ISBN" class="form-control">
        </div>
        <div class="m-3">
            <label for="" class="form-label">So trang: </label>
            <input type="number" name="soTrang" placeholder="So trang" class="form-control">
        </div>
        <div class="m-3">
            <label for="" class="form-label">So nam xuat ban: </label>
            <input type="number" name="namXuatBan" placeholder="So nam xuat ban" class="form-control">
        </div>
        <div class="m-3">
            <input type="submit" value="THEM" class="btn btn-primary">
        </div>
    </form>
</body>

</html>